[project]
	description = Founded at 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rasumichin
[access "refs/for/refs/*"]
	read = group user/Rasumichin
	push = group user/Rasumichin
	label-Code-Review = -2..+2 group user/Rasumichin
	label-Verified = -1..+1 group user/Rasumichin
	rebase = group user/Rasumichin
	removeReviewer = group user/Rasumichin
	submit = group user/Rasumichin
[access "refs/heads/*"]
	read = group user/Rasumichin
	create = group user/Rasumichin
	push = +force group user/Rasumichin
	pushMerge = group user/Rasumichin
[access "refs/tags/*"]
	push = +force group user/Rasumichin
	pushTag = group user/Rasumichin
	pushSignedTag = group user/Rasumichin
