<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>RelayD REST API application</display-name>

	<!-- Define a Security Constraint on this Application -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>RelayD resources</web-resource-name>
			<url-pattern>/resources/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- NOTE: This role is not present in the default users file -->
			<role-name>relayd</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>RelayD Group</realm-name>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<description>
	      The role that is required to log in
	    </description>
		<role-name>relayd</role-name>
	</security-role>

</web-app>
